<%- include('../layout-head') %>

<section>
  <h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((item) => { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.email %></td>
          <td><%= item.role %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>

<%- include('../layout-foot') %>
